.highlight{
    color: aqua;
    font-size: 60px;
}

.card{
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
}

.completed{
    text-decoration: line-through;
    color: gray;
}
